/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    background: #cecece;
}


#batman {
    max-width: 500px; 
    margin: 0 auto;
    padding: 20px;
}


/* SLIDER */
.slider-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    margin: 40px 0 25px 0;
}

.slider-wrapper .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 60%;
}

.slider-wrapper .logo img {
    width: 300px;
    height: 150px;
}

.slider-wrapper .text h1 {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%; 
    white-space: nowrap;
}


/* NEW TODO */
/* Info */
.content .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.add-todo {
    width: 70%;
    height: 30px;
    padding-left: 15px;
    flex-basis: 55%;
    font-size: 20px;
    outline: none;
    border: 0;
    border-radius: 25px;
    background: #000;
    color: #ffd530;
    transition: background .4s;
}

.add-todo:focus,
.add-todo:hover {
    background: rgba(0, 0, 0, .7);
}


/* Bottone ADD */
.btn {
    position: relative;
    width: 60px;
    height: 30px;
    flex-basis: 15%;
    background: #000;
    padding-right: 10px;
    color:  #ffd530;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    border-radius: 25px;
    cursor: pointer;
    transition: background .4s;
}

.btn i {
    position: absolute;
    right: 11px;
    top: 8px;
    background: #000;
    color:  #ffd530;
    font-size: 15px;
}

.btn:hover,
.btn-removeall:hover {
    background: rgba(0, 0, 0, .7);
}

.btn-removeall {
    position: relative;
    width: 70px;
    height: 30px;
    flex-basis: 25%;
    background: #000;
    padding-right: 10px;
    color:  #ffd530;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    border-radius: 25px;
    cursor: pointer;
    transition: background .4s;
}

.btn-removeall i {
    position: absolute;
    right: 10px;
    top: 8px;
    background: #000;
    color:  #ffd530;
    font-size: 15px;
}


/* List */
.content .list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid  #ffd530;
}


.content .list li span {
    font-size: 20px;
}

.content .list li i:hover,
.content .list li span:hover {
    color:  #ffd530;
    cursor: grabbing;
}

ul .delete-btn i:first-child {
    padding-right: 20px;
}

ul .delete-btn i:first-child:hover {
    color: blue;

}

.hidden{
    display: flex;
    font-size: 40px;
    padding: 25px 30px;
    width: 450px;
    height: 150px;
    background: #000;
    color:  #ffd530;
}

.hidden h1 {
    text-align: center;
    padding-top: 20px;
    background: #000;
}

.list li.disabled {
    text-decoration: line-through;
  }






