/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    background: #cecece;
}

#batman {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}


/* SLIDER */
.slider-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    margin-top: 40px;
}

.slider-wrapper .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 60%;
}

.slider-wrapper .logo img {
    width: 300px;
    height: 150px;
}

.slider-wrapper .text h1 {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%; 
    white-space: nowrap;
}


/* NEW TODO */
/* Info */
.content .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.add-todo {
    width: 70%;
    height: 25px;
    padding-left: 15px;
    flex-basis: 70%;
    outline: none;
    border: 0;
    border-radius: 25px;
    background: #000;
    color: yellow;
}

.btn {
    width: 80px;
    height: 25px;
    flex-basis: 25%;
    background: #000;
    color: yellow;
    text-align: center;
    padding-top: 4px;
    border-radius: 25px;
    cursor: pointer;
    transition: background .4s;
}

.btn i {
    background: #000;
    color: yellow;
    transform: translateX(10px);
}

.btn:hover {
    background: rgba(0, 0, 0, .7);
}


/* List */
.content .list  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid yellow;
}

.content .list  li i:hover {
    color: yellow;
    cursor: grabbing;
}

.content .list li span.completed {
    text-decoration: line-through;
}


/* SHOW/HIDE */



